site_name: NOCT
copyright: '&copy; Tuntunkun,ORG All Rights Reserved,'

nav:
- このサイトについて:
  - はじめに: index.md
  - インストール方法: index.md
- SLACK:
  - はじめに: slack/index.md

docs_dir: docs
theme:
  name: 'material'
  custom_dir: docs/theme
  palette:
    primary: 'Blue Grey'
    accent: 'Orange'
  language: 'ja'
  feature:
    tabs: true
extra:
  search:
    language: 'ja'
    font:
      text: 'Roboto'
      code: 'Roboto Mono'

markdown_extensions:
  - meta

  - markdown.extensions.toc:
      slugify: !!python/name:pymdownx.slugs.uslugify
      permalink: "\ue157"
  - markdown.extensions.admonition:
  - markdown.extensions.smarty:
      smart_quotes: false
  - pymdownx.betterem:
  - markdown.extensions.attr_list:
  - markdown.extensions.def_list:
  - markdown.extensions.tables:
  - markdown.extensions.abbr:
  - markdown.extensions.footnotes:
  - pymdownx.extrarawhtml:
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: flow
          class: uml-flowchart
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: sequence
          class: uml-sequence-diagram
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.fence_mathjax_format
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.highlight:
      css_class: codehilite
      extend_pygments_lang:
        - name: php-inline
          lang: php
          options:
            startinline: true
        - name: pycon3
          lang: pycon
          options:
            python3: true
      linenums_style: pymdownx-inline
  - pymdownx.inlinehilite:
      custom_inline:
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.inline_mathjax_format
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shorthand: true
      user: facelessuser
      repo: pymdown-extensions
  - pymdownx.tilde:
  - pymdownx.caret:
  - pymdownx.smartsymbols:
  - pymdownx.emoji:
      emoji_index: !!python/name:pymdownx.emoji.twemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.escapeall:
      hardbreak: True
      nbsp: True
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.progressbar:
  - pymdownx.arithmatex:
  - pymdownx.mark:
  - pymdownx.striphtml:
  - pymdownx.snippets:
      base_path: docs/src/_snippets
  - pymdownx.keys:
      separator: "\uff0b"
  - pymdownx.details:

extra_css:
  - extra-174a536342.css
  - extra-424d7dfff1.css
  - https://unpkg.com/mermaid@8.0.0/dist/mermaid.css
extra_javascript:
  - extra-0d9305e748.js
  - https://unpkg.com/mermaid@8.0.0/dist/mermaid.min.js

